<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta charset="UTF-8">
	<title>title</title>
	<link rel="stylesheet" href="/assets/lib/element-ui/element-ui.css"></link>
	<link rel="stylesheet" href="/assets/lib/font-awesome/css/font-awesome.css"></link>
	<link rel="stylesheet" href="/assets/css/common/common.css">
	<script type="text/javascript" src="/assets/lib/jquery/jquery-2.2.0.js"></script>
	<script type="text/javascript" src="/assets/lib/vue/vue-all.js"></script>
	<script type="text/javascript" src="/assets/lib/element-ui/element-ui.js"></script>
	<script type="text/javascript" src="/assets/js/common/common.js"></script>
</head>
<body>
	<div id="app">
	</div>
	<script type="text/javascript" src="/assets/js/app/app.js"></script>
</body>
</html>